@font-face {
  font-family: 'Torus';
  font-weight: 100;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/Torus-Thin.daca2c7e.otf);
}

@font-face {
  font-family: 'Torus';
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/Torus-SemiBold.d263d500.otf);
}

@font-face {
  font-family: 'Torus';
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/Torus-SemiBold.d263d500.otf);
}

@font-face {
  font-family: 'Torus';
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/Torus-Regular.734ed3ae.otf);
}

@font-face {
  font-family: 'Torus';
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/Torus-Light.8d3ecae8.otf);
}

@font-face {
  font-family: 'Torus';
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/Torus-Heavy.7dc2d96b.otf);
}

@font-face {
  font-family: 'Torus';
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/Torus-Bold.c233ce17.otf);
}

@font-face {
  font-family: 'Cascadia Code';
  font-weight: normal;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/CascadiaCode.ttf);
}

@font-face {
  font-family: 'MiSans';
  font-weight: 100;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/MiSans-Thin.ttf);
}

@font-face {
  font-family: 'MiSans';
  font-weight: 200;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/MiSans-ExtraLight.ttf);
}

@font-face {
  font-family: 'MiSans';
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/MiSans-Light.ttf);
}

@font-face {
  font-family: 'MiSans';
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/MiSans-Normal.ttf);
}

@font-face {
  font-family: 'MiSans';
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/MiSans-Regular.ttf);
}

@font-face {
  font-family: 'MiSans';
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/MiSans-Medium.ttf);
}

@font-face {
  font-family: 'MiSans';
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/MiSans-DemiBold.ttf);
}

@font-face {
  font-family: 'MiSans';
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/MiSans-SemiBold.ttf);
}

@font-face {
  font-family: 'MiSans';
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/MiSans-Bold.ttf);
}

@font-face {
  font-family: 'MiSans';
  font-weight: 1000;
  src: url(https://cdn.jsdelivr.net/gh/Cierra-Runis/cierra-runis.github.io/source/fonts/MiSans-Heavy.ttf);
}

.cjk_fallback {
  font-family: 'MiSans', KaTeX_Main, 'Times New Roman', serif;
  font-size: 16px;
}

div#menus {
  font-family: 'Torus';
}

h1#site-title {
  font-family: Torus;
  font-size: 3em !important;
}

a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
  font-family: Torus;
}

:root {
  --global-bg: #000;
}

b,
strong {
  font-weight: 900 !important;
}

#article-container p {
  font-size: 16px;
}

img {
  display: block;
  margin: 0 auto 20px;
  border-radius: 12px;
  max-width: 100%;
  -webkit-transition: filter 375ms ease-in 0.2s;
  -moz-transition: filter 375ms ease-in 0.2s;
  -o-transition: filter 375ms ease-in 0.2s;
  -ms-transition: filter 375ms ease-in 0.2s;
  transition: filter 375ms ease-in 0.2s;
}

#aside-content .card-info #card-info-btn {
  display: block;
  margin-top: 14px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  text-align: center;
  border-radius: 12px;
  line-height: 2.4;
}

#aside-content #card-toc .toc-content .toc-link {
  display: block;
  margin: 4px 0;
  padding: 1px 6px;
  transition: all 0.2s ease-in-out;
  border-radius: 12px;
}

.postImgHover img,
#pagination .prev-post img,
#pagination .next-post img,
.relatedPosts > .relatedPosts-list > div img {
  border-radius: 0px;
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 3em;
  /* 可以定义图标大小 */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 时间轴生肖icon */
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
  width: 1em;
  height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon-zhongbiao::before {
  color: #ff8000;
}

/* bilibili 番剧插件 */
#article-container .bangumi-tab.bangumi-active {
  background: var(--anzhiyu-theme);
  color: var(--anzhiyu-ahoverbg);
  border-radius: 10px;
}

#article-container img {
  display: block;
  margin: 0 auto 20px;
  border-radius: 12px !important;
  max-width: 100%;
  -webkit-transition: filter 375ms ease-in 0.2s;
  -moz-transition: filter 375ms ease-in 0.2s;
  -o-transition: filter 375ms ease-in 0.2s;
  -ms-transition: filter 375ms ease-in 0.2s;
  transition: filter 375ms ease-in 0.2s;
}

.bangumi-info-item {
  display: inline-block;
  width: 13%;
  border-right: 1px solid #6e6e6e !important;
  text-align: center;
  height: 34px;
}

a.bangumi-tab:hover {
  text-decoration: none !important;
}

.bangumi-button:hover {
  background: var(--anzhiyu-theme) !important;
  border-radius: 10px !important;
  color: var(--anzhiyu-ahoverbg) !important;
}

a.bangumi-button.bangumi-nextpage:hover {
  text-decoration: none !important;
}

.bangumi-button {
  padding: 5px 10px !important;
}

a.bangumi-tab {
  padding: 5px 10px !important;
}

svg.icon.faa-tada {
  font-size: 1.1em;
}

.bangumi-info-item {
  border-right: 1px solid #ff8000;
}

.bangumi-info-item span {
  color: #ad80ff;
}

.bangumi-info-item em {
  color: #ad80ff;
}

/* 解决 artitalk 的图标问题 */
#uploadSource > svg {
  width: 1.19em;
  height: 1.5em;
}

/* top-img 黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header:not(.not-top-img):before {
  background-color: transparent !important;
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: rgba(255, 255, 255, 0.9);
}

/* 文章页面正文背景 */
div#post {
  background: rgba(255, 255, 255, 0.9);
}

/* 分页页面 */
div#page {
  background: rgba(255, 255, 255, 0.9);
}

/* 归档页面 */
div#archive {
  background: rgba(255, 255, 255, 0.9);
}

/* 标签页面 */
div#tag {
  background: rgba(255, 255, 255, 0.9);
}

/* 分类页面 */
div#category {
  background: rgba(255, 255, 255, 0.9);
}

/* 夜间模式伪类遮罩层透明 */
[data-theme='dark'] #recent-posts > .recent-post-item {
  background: rgb(34, 34, 34, 0.9);
  border-radius: 12px;
}

[data-theme='dark'] .card-widget {
  background: rgb(34, 34, 34, 0.9) !important;
}

[data-theme='dark'] div#post {
  background: rgb(34, 34, 34, 0.9) !important;
}

[data-theme='dark'] div#tag {
  background: rgb(34, 34, 34, 0.9) !important;
}

[data-theme='dark'] div#archive {
  background: rgb(34, 34, 34, 0.9) !important;
}

[data-theme='dark'] div#page {
  background: rgb(34, 34, 34, 0.9) !important;
}

[data-theme='dark'] div#category {
  background: rgb(34, 34, 34, 0.9) !important;
}

[data-theme='dark'] div#category {
  background: transparent !important;
}

[data-theme='dark'] #web_bg:before,
[data-theme='dark'] #footer:before,
[data-theme='dark'] #page-header:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  content: '';
}

/* 页脚透明 */
#footer {
  background: transparent !important;
}

/* 头图透明 */
#page-header {
  background: transparent !important;
}

#rightside > div > button {
  border-radius: 5px;
}

/* 滚动条 */

::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(88, 88, 88, 0.801);
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* 音乐播放器 */

/* .aplayer .aplayer-lrc {
    display: none !important;
  } */

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  transition: all 0.3s;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  transition: all 0.3s;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

.aplayer.aplayer-fixed {
  z-index: 999999 !important;
}

/* 评论框  */
.vwrap {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 30px 0px;
}

/* 设置评论框 */

.vcard {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 0px 0px;
}

a,
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),

/* md网站下划线 */
#article-container a:hover {
  text-decoration: none !important;
}

#article-container #hpp_talk p img {
  display: inline;
}

/* 404页面 */
.error404 #error-wrap .error-content .error-img img {
  background-color: transparent !important;
}

#error-wrap {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1000px;
  transform: translate(0, -50%);
}

#error-wrap .error-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  height: 18rem;
  border-radius: 8px;
  background: var(--card-bg);
  box-shadow: var(--card-box-shadow);
  transition: all 0.3s;
}

#error-wrap .error-content .error-img {
  box-flex: 1;
  flex: 1;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: transparent;
  background-position: center;
  background-size: cover;
}

#error-wrap .error-content .error-info {
  box-flex: 1;
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  font-size: 14px;
  font-family: 'Cascadia Code', 'PingFang SC', 'Microsoft YaHei',
    'Hiragino Sans GB', 'Microsoft JhengHei', sans-serif;
}

#error-wrap .error-content .error-info .error_title {
  margin-top: -4rem;
  font-size: 9em;
}

#error-wrap .error-content .error-info .error_subtitle {
  margin-top: -3.5rem;
  word-break: break-word;
  font-size: 1.6em;
}

#error-wrap .error-content .error-info a {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.3rem 1.5rem;
  background: var(--btn-bg);
  color: var(--btn-color);
}

#body-wrap.error .aside-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom: 0px;
  position: absolute;
  padding: 1rem;
  width: 100%;
  overflow: scroll;
}

#body-wrap.error .aside-list .aside-list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

#body-wrap.error .aside-list .aside-list-item {
  padding: 0.5rem;
}

#body-wrap.error .aside-list .aside-list-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#body-wrap.error .aside-list .aside-list-item .thumbnail {
  overflow: hidden;
  width: 230px;
  height: 143px;
  background: var(--anzhiyu-card-bg);
  display: flex;
}

#body-wrap.error .aside-list .aside-list-item .content .title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  padding-top: 0.5rem;
  color: white;
}

#body-wrap.error .aside-list .aside-list-item .content time {
  display: none;
}

/* 代码框主题 */
#article-container figure.highlight {
  border-radius: 10px;
}
